@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom left,rgb(140, 177, 233) 10%, rgb(232, 233, 235) 50%);
  }
.containers {
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    padding        : 0;
    font-family    : sans-serif;
    background-color: white;
    background-size: cover;
}

.boxlogin {
    position     : absolute;
    top          : 50%;
    left         : 50%;
    transform    : translate(-50%, -50%);
    width        : 400px;
    padding      : 50px;
    background   : #FFFFFF;
    box-sizing   : border-box;
    box-shadow   : 0 15px 25px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.boxlogin h1 {
    text-align: center;
    margin-bottom: 24px;
    font-family: 'Poppins', SomiBold;
    font-weight: bold;
    
}

.boxlogin .inputBox {
    position: relative;
}

.boxlogin .inputBox input {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.boxlogin .inputBox label {
    position      : absolute;
    top           : 0;
    left          : 0;
    letter-spacing: 1px;
    padding       : 10px 0;
    font-size     : 16px;
    color         : #FFFFFF;
    pointer-events: none;
    transition    : 0.5s;
}

.text-center button {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 8px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}
.text-center button {
    position: relative;
    transition: top ease 0.5s;
  }
  
.text-center button:active {
    top: 1px;
  }

.boxlogin input[type="submit"] {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 4px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}
.boxlogin input[type="text"]:focus, input[type="password"]:focus {
    outline: none;
    border: 2px solid lightblue; /* Tăng độ rộng của đường viền lên 2px */
}


a {
    color      : #fff;
    margin-left: 2%;
}