* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
   
  }
  
  .btn{
    width: 30%;
    margin: 5px;
    
  }
.required{
  color: red;
}
  .add {
    width: 100px;
    margin-left: 90%;
    margin-top: 1%;
  }
  td img {
    width: 36px;
    height: 36px;
    margin-right: 0.5rem;
    border-radius: 50%;
    vertical-align: middle;
  }
  .table {
    margin-left: 11%;
    width: 80vw;
    height: 90vh;
    background-color: #fff5;
    backdrop-filter: blur(7px);
    box-shadow: 0 0.4rem 0.8rem #0005;
    border-radius: 0.8rem;
    overflow: hidden;
    font-size: 15px;
  }
  .table_header {
    width: 100%;
    height: 10%;
    background-color: #fff4;
    padding: 0.8rem 1rem;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .table_header .input-group {
    width: 35%;
    height: 100%;
    background-color: #fff5;
    padding: 0 0.8rem;
    border-radius: 2rem;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    transition: 0.2s;
    border: 1px solid #ccc;
    text-align: center;
  }
  
  .table_header .input-group:hover {
    width: 45%;
    background-color: #fff8;
    box-shadow: 0 0.1rem 0.4rem #0002;
  }
  .table_header .input-group img {
    width: 1.2rem;
    height: 1.2rem;
  }
  .table_header .input-group input {
    width: 100%;
    padding: 0 0.5rem 0 0.3rem;
    background-color: transparent;
    border: none;
    outline: none;
    text-align: left;
  }
  .table_body {
    width: 95%;
    max-height: calc(89% - 1.6rem);
    background-color: #fffb;
  
    margin: 0.8rem auto;
    border-radius: 0.6rem;
  
    overflow: auto;
  }
  .table_body::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }
  .table__body::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background-color: #0004;
    visibility: hidden;
  }
  .table__body:hover::-webkit-scrollbar-thumb {
    visibility: visible;
  }
  table {
    width: 100%;
  }
  
  table,
  th,
  td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
  }
  thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #d5d1defe;
    cursor: pointer;
    text-transform: capitalize;
  }
  tbody tr:nth-child(even) {
    background-color: #0000000b;
  }
  tbody tr:hover {
    background-color: #fff6 !important;
  }
  .statusOnline {
    background-color: #86e49d;
    color: #006b21;
    padding: 0.4rem 0;
    border-radius: 2rem;
    text-align: center;
  }
  .statusOffine {
    background-color: #d893a3;
    color: #b30021;
    padding: 0.4rem 0;
    border-radius: 2rem;
    text-align: center;
  }
  .table_body input {
    color: white;
    background: gray;
    border-radius: 20%;
    padding: 0.4rem;
  }
  

.Pagination {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
}

